
<div class="container">
  <h2>Task2 </h2>
  <div style="width: 60%">
    <div class="card">
      <div class="card-body">
        <p>form-1 validity is:</p>
        <div class="card">
          <div class="card-body">
            <p>form-2 validity is:</p>
            <div class="col-md-6">
              <input type="text" class="form-control">
            </div>
            <br>
            <div class="card">
              <div class="card-body">
                <p>form-2.1 validity is:</p>
                <div class="col-md-6">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <br>
            <div class="card">
              <div class="card-body">
                <p>form-2.2 validity is:</p>
                <div class="col-md-6">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <br>
            <h4>Toggle Reactive form</h4>
            <br>
            <div class="card">
              <div class="card-body">
                <h5>Reactive form</h5>
                <p>form-3 validity is: </p>
                <div class="col-md-6">
                  <input type="text" class="form-control">
                </div>
                <br>
                <div class="card">
                  <p>form-3.1 validity is:</p>
                  <div class="col-md-6">
                    <input type="text" class="form-control">
                  </div>
                  <br>
                </div>
              </div>
            </div>
            <br>
            <div class="card">
              <div class="card-body">
                <h5>Isolated form</h5>
                <p>form-4 validity is: </p>
                <div class="col-md-6">
                  <input type="text" class="form-control">
                </div>
                <br>
                <div class="card">
                  <p>form-4.1 validity is:</p>
                  <div class="col-md-6">
                    <input type="text" class="form-control">
                  </div>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
